{% extends "parent.html" %}
{% block main %}
<h1 style="color:yellow;text-align:center;margin-top: 5%;">
    Admin Login
</h1>
{% if msg %}
<p style="color: blue;text-align: center;">{{msg}}</p>
{% endif %}
<form method="post" action="{% url 'validateuser' %}">
    {% csrf_token %}
    <table style="margin:0 auto;width:50%;">
        <tr>
            <td>Enter User Id</td>
            <td>
                <input type="text" name="userid"/>
            </td>
        </tr>
        <tr>
            <td>Enter Your Password</td>
            <td>
                <input type="password" name="password"/>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Login"/>
            </td>
        </tr>
    </table>
</form>
{% endblock main %}