{% extends "parent.html" %}
{% block main %}
<h1 style="color:yellow;text-align:center;">
    Job Seeker Registration Form
</h1>
{% if msg %}
<p style="color: blue;text-align: center;">{{msg}}</p>
{% endif %}
<form action="{% url 'savereg' %}" method="post">
    {% csrf_token %}
<table align="center">
    <tr>
    <td>Enter Your Name</td>
    <td>
        <input type="text" name="name"/>
    </td>
</tr>
    <tr>
    <td>Select Your Gender</td>
    <td>
        <input type="radio" name="gender"/>Male
        <input type="radio" name="gender"/>Female
    </td>
</tr>
    <tr>
    <td>Enter Your Address</td>
    <td>
        <textarea name="address"></textarea>
    </td>
</tr>
    <tr>
    <td>Enter Contect No</td>
    <td>
        <input type="number" name="contactno"/>
    </td>
</tr>
    <tr>
        <td>Enter Email Address</td>
        <td>
            <input type="email" name="emailaddress"/>
        </td>
    </tr>
    <tr>
        <td>Enter Qualification </td>
        <td>
            <textarea name="qualification"></textarea>
        </td>
    </tr>
    <tr>
        <td>Enter Your Experience</td>
        <td>
            <input type="number" name="experience"/>
        </td>
    </tr>
    <tr>
        <td>Enter Your Key Skills</td>
        <td>
           <textarea name="keyskills"></textarea>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="submit" value="Register"/>
        </td>
    </tr>
</table>
</form>
{% endblock main %}